Flask==1.1.1
imbalanced-learn==0.6.2
imblearn==0.0
importlib-metadata==1.4.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.3
kiwisolver==1.1.0
numpy==1.18.1
pandas==0.25.3
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.6.0
pickleshare==0.7.5
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
sklearn==0.0
